.icon-home{
    background-image: url(./assets/images/icon_Home.svg);
}
.icon-3D{
    background-image: url(./assets/images/icon-3D.svg);
}
.icon-add{
    background-image: url(./assets/images/icon-add.svg);
}
.icon-computer{
    background-image: url(./assets/images/icon-computer.svg);
}
.icon-code{
    background-image: url(./assets/images/icon-code1.svg);
}
.icon-deskop{
    background-image: url(./assets/images/icon-code2.svg);
}
.icon-design{
    background-image: url(./assets/images/icon-design.svg);
}
.icon-film{
    background-image: url(./assets/images/icon-film.svg);
}
.icon-go{
    background-image: url(./assets/images/icon-go.svg);
}
.icon-photo{
    background-image: url(./assets/images/icon-photography.svg);
}
.icon-return{
    background-image: url(./assets/images/icon-return.svg);
}
.icon-smartphone{
    background-image: url(./assets/images/icon-smartphone.svg);
}
.icon-fubon01_web01{
    background-image: url(./assets/images/Project_online/web_01.svg);
}
.icon-fubon01_phone01{
    background-image: url(./assets/images/Project_online/phone_01.svg);
}
.icon-fubon02_web01{
    background-image: url(./assets/images/Project_online/project_02_log.svg);
}
.icon-3Dweb_web01{
    background-image: url(./assets/images/Project_online/project-3Dweb.svg);
}
.icon-projectApi{
    background-image: url(./assets/images/Project_online/icon-Api.svg);
}
.icon-projectApiSQL{
    background-image: url(./assets/images/Project_online/icon-Api-Sql.svg);
}
.icon-projectML{
    background-image: url(./assets/images/Project_online/icon-ML.svg);
}
.icon-projectML2{
    background-image: url(./assets/images/Project_online/icon-ML2.svg);
}
.sm-icon{
    width: 1.2rem;
    height: 1.1rem;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.smd-icon{
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.md-icon{
    width: 5.5rem;
    height: 5.2rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    // background-size: 100% 100%;
}
.bg-icon{
    width: 10rem;
    height: 11rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}