.lg-text{
    font-family: $font-family;
    font-size: $lg-size;
    color: $sexy-black;
}
.bg-text{
    font-family: $font-family;
    font-size: $bg-size;
    color: $sexy-black;
}
.md-text{
    font-family: $font-family;
    font-size: $md-size;
    color: $sexy-black;
}
.sm-text{
    font-family: $font-family;
    font-size: $sm-size;
    color: $sexy-black;
}
.romantic-blue{
    color:$romantic-blue;
    
}
.sadding-gray{
    color: $sadding-gray;
}
.love-red{
    color: $love-red;
}
.sexy-black{
    color: $sexy-black;
}
.juicy-orange{
    color: $juicy-orange;
}
.lemon-yellow{
    color: $lemon-yellow;
}
.sky-blue{
    color: $sky-blue;
}
