//----------------------------- RWD 斷點 -----------------------------
$lg-media:1200px;
$md-media:992px;
//------------------------------顏色------------------------------
$romantic-blue:#847AFD;
$love-red:#FC7373;
$sexy-black:#4D4D4D;
$sadding-gray:#919191;
$light-gray:#00000029;
$juicy-orange:#FFAC64;
$lemon-yellow:#FFE164;
$sky-blue:#70BCFD;
$white:white;
//------------------------------字體-----------------------------
$lg-size:1.5rem;
$bg-size:1.2rem;
$md-size:1rem;
$sm-size:.8rem;

/*------------------------------字形------------------------------*/
$font-family: Helvetica Neue;