.card{
    width: 15rem;
    height: 20rem;
    box-shadow: .3rem .3rem .33rem $light-gray;
    // opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-bottom{
        margin-top: 8rem;
    }
    &:hover{
        background-color: rgba(117, 113, 113, 0.2);
        width: 16rem;
        height: 22rem;
    }
    .icon-article{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    ul ,li{
        list-style: disc;
        letter-spacing: .1rem;
        line-height: 1.4rem;
    }
}
